@{
    ViewData["Title"] = "Account Created";
}

<h2>Account Created</h2>

<p>Your @ViewBag.AccountType account has been created with an initial balance of @ViewBag.Balance</p>

<a asp-action="Index" class="btn btn-primary">Back to Bank</a>
